// FONTS
$fonts: 'Montserrat', sans-serif;

// COLOURS
$primary-color: white;
$secondary-color: #FFEBB7;
$txt-color:#FF734B;
//$logo-color: #064b31;
$logo-color: #FFEBB7;

//SPACING
$spacing: 2px;
$gap: 1rem;
