@import 'variables';
@import 'mixins';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
    font-size: 62.5%;
 }

 body {
    background-color: $primary-color;
    
}

nav {
  //background-image: url("photos/gradient-mobile-store-logo-template/7946699.jpg");
  font-family: $fonts;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2rem;
  color: $primary-color;

  & ul {
    font-weight: 600;
    font-size: 1.7rem;
    letter-spacing: $spacing;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }

  & a {
    color: inherit;
    text-decoration: inherit;
    //cursor: inherit;
  }

  & h3 {
    font-weight: 700;
    font-size: 5rem;
    letter-spacing: $spacing;
    text-align: center;
  }
}

header {
  background: url("photos/photo4/joel-rohland-MCL2xxjZJvs-unsplash (2).jpg");
  //background-image: url("photos/photo3/nicolas-messifet-_fTihc8wRTw-unsplash\ \(1\).jpg");
  //background-image: url("photos/backgroundPhoto/insung-yoon-dRUqU4RpeOE-unsplash\ \(2\).jpg");
  //background-image: url("photos/backgroundPhoto/heliberto-arias-raNIrcd39jY-unsplash\ \(2\).jpg");
  min-width: 1280px;
  //width: 100vw;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}



//<img src="photos/photo4/joel-rohland-MCL2xxjZJvs-unsplash (2).jpg" alt="background image broken cellphone">





//<a href="https://www.freepik.com/free-vector/product-teardown-concept-illustration_7258621.htm#page=3&query=gadjet%20repair%20logo&position=0&from_view=search&track=ais">Image by storyset</a> on Freepik