@import 'scss/variables';
@import 'scss/mixins';

@import 'scss/header';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
    font-size: 62.5%;
 }

 body {
    background-color: $primary-color;
    
}










//<img src="photos/photo4/joel-rohland-MCL2xxjZJvs-unsplash (2).jpg" alt="background image broken cellphone">





//<a href="https://www.freepik.com/free-vector/product-teardown-concept-illustration_7258621.htm#page=3&query=gadjet%20repair%20logo&position=0&from_view=search&track=ais">Image by storyset</a> on Freepik